body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

h1{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 120, 189);
    margin-top: 20px;
    margin-bottom: 20px; 
}

.card{
    background-color: #333;
    color: aliceblue;
}

.none{
    display: none;
}